/target/
/.idea/
*.iml
*.log
/.vscode/
/tooling/node_modules/
/tooling/package-lock.json
/app.log
/app-error.log
/.docker-local/
/.mvn-home/
/.m2repo/
!docs/jdk17-build-success.log
!docs/docker-build-success.log
!docs/docker-run-success.log
